@layout MainLayout
@page "/edithabit"
@attribute [Authorize]

<AuthorizeView>
    <Authorized>
        <div class="container-fluid">
            <UserLine/>
        </div>
        <div class="container-fluid py-4">
            <div class="row">
                <div class="col-12 col-xl-6 mx-auto">
                    <div class="card h-100">
                        <div class="card-body">
                            <form role="form">
                                <div class="mb-3">
                                    <label>Name</label>
                                    <input type="text" class="form-control1" placeholder="Name" aria-label="Name" aria-describedby="email-addon">
                                </div>
                                <div class="mb-3">
                                    <div class="form-group">
                                        <label for="exampleFormControlSelect1">Unit</label>
                                        <select class="form-control" id="exampleFormControlSelect1">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <div class="form-group">
                                        <label for="example-number-input" class="form-control-label">Amount</label>
                                        <input class="form-control" type="number" value="23" id="example-number-input">
                                    </div>

                                </div>

                                <div class="mb-3">
                                    <div class="form-group">
                                        <label for="exampleFormControlSelect1">Frequency</label>
                                        <select class="form-control" id="exampleFormControlSelect1">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>

                                </div>

                                <div class="mb-3">
                                    <div class="row">
                                        <div class="form-group">
                                            <label for="example-date-input" class="form-control-label">Start Date</label>
                                            <input class="form-control" type="date" value="2018-11-23" id="example-date-input">
                                        </div>
                                        <div class="form-group">
                                            <label for="example-date-input" class="form-control-label">End Date</label>
                                            <input class="form-control" type="date" value="2018-11-23" id="example-date-input">
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="button" class="btn bg-gradient-info w-40 mt-4 mb-0 mx-0">Save</button>
                                </div>

                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <RedirectToLogin/>
    </NotAuthorized>
</AuthorizeView>

@code {

}