@layout MainLayout
@page "/habits"
@attribute [Authorize]

<AuthorizeView>
    <Authorized>
        <UserLine/>
            <div class="container-fluid py-4">
                <div class="row">
                    <HabbitsAdd/>
                </div>
            </div>
    </Authorized>

</AuthorizeView>

@code {

}
