@layout MainLayout
@page "/habit"
<UserLine />
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12 col-xl-6 mx-auto">

            <div class="card h-100 ">
                <div class="card-header pb-0 p-3">
                    <div class="row">
                        <div class="col-md-8 d-flex align-items-center">
                            <h6 class="mb-0 heading">About Habbit</h6>
                        </div>
                        <div class="col-md-4 text-end">
                            <NavLink class="nav-link" href="edithabit">
                                <i class="fas fa-user-edit text-secondary text-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit habit"></i>
                            </NavLink>
                        </div>
                    </div>
                </div>
                <div class="card-body p-3">
                    <hr class="horizontal gray-light my-4">
                    <ul class="list-group">
                        <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Name:</strong> &nbsp; Reading</li>
                        <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Amount:</strong> &nbsp; 50</li>
                        <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Unit:</strong> &nbsp; pages</li>
                        <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Frequency:</strong> &nbsp; Evety day</li>
                        <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">State:</strong> &nbsp; Undone</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<NotAuthorized>
    <RedirectToLogin />
</NotAuthorized>

</div>
        @code {

        }
