@layout MainLayout
@page "/habits"

<UserLine />
<div class="container-fluid py-4">
    <div class="row">
        <HabbitsAdd />
    </div>
</div>
<NotAuthorized>
    <RedirectToLogin />
</NotAuthorized>
@code {

}
