@layout MainLayout
@page "/"
@attribute [Authorize]

<UserLine />
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6>Habits tracker</h6>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center justify-content-center mb-0">
                            <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ">Habit</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7  ps-2">Amount</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7  ps-2">Unit</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7  ps-2">Frequency</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7  ps-2">Completion</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ">Status</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7  ">Mark</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <div class="d-flex px-2">
                                        <div class="me-2">

                                        </div>
                                        <div class="my-auto">
                                            <h6 class="mb-0 text-sm">Reading</h6>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <span class="text-xs font-weight-bold">50</span>
                                </td>
                                <td>

                                    <span class="text-xs font-weight-bold">Pages</span>

                                </td>
                                <td>

                                    <span class="text-xs font-weight-bold">Every day</span>

                                </td>
                                <td class="align-middle">
                                    <div class="d-flex align-items-center ">
                                        <span class="me-2 text-xs font-weight-bold">60%</span>
                                        <div>
                                            <div class="progress">
                                                <div class="progress-bar bg-gradient-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <span class="badge badge-sm bg-gradient-secondary">Undone</span>
                                </td>
                                <td class="align-middle">
                                    <div class="">
                                        <button type="button" class="btn bg-gradient-info w-50 mt-0 mb-0 mx-auto">Done</button>
                                    </div>
                                </td>
                            </tr>


                            </tbody>
                            <tbody>
                            <tr>
                                <td>
                                    <div class="d-flex px-2">
                                        <div class="me-2">

                                        </div>
                                        <div class="my-auto">
                                            <h6 class="mb-0 text-sm">Running</h6>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <span class="text-xs font-weight-bold">10</span>
                                </td>
                                <td>

                                    <span class="text-xs font-weight-bold">Km</span>

                                </td>
                                <td>

                                    <span class="text-xs font-weight-bold">Every day</span>

                                </td>
                                <td class="align-middle">
                                    <div class="d-flex align-items-center ">
                                        <span class="me-2 text-xs font-weight-bold">100%</span>
                                        <div>
                                            <div class="progress">
                                                <div class="progress-bar bg-gradient-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <span class="badge badge-sm bg-gradient-success">Done</span>
                                </td>
                                <td class="align-middle">
                                    <div class="">
                                        <button type="button" class="btn bg-gradient-info w-50 mt-0 mb-0 mx-auto">Done</button>
                                    </div>
                                </td>
                            </tr>


                            </tbody>
                        </table>
                        
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
<NotAuthorized>
    <RedirectToLogin />
</NotAuthorized>

@code {

}
