@layout MainLayout
@page "/setting"

<div class="container-fluid">
    <UserLine />
</div>
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12 col-xl-5 mx-auto">

            <div class="card h-100">
                <div class="card-header pb-0 p-3">
                    <div class="row">
                        
                    </div>
                </div>


                    <div class="card-body">
                        <form role="form">
                            <label>Username</label>
                            <div class="mb-3">
                                <input type="email" class="form-control1" placeholder="Username" aria-label="Username" aria-describedby="email-addon">
                            </div>
                            <label>Email</label>
                            <div class="mb-3">
                                <input type="email" class="form-control1" placeholder="Email" aria-label="Email" aria-describedby="email-addon">
                            </div>
                            <label>Password</label>
                            <div class="mb-3">
                                <input type="email" class="form-control1" placeholder="Password" aria-label="Password" aria-describedby="password-addon">
                            </div>
                            <div class="text-center">
                                <button type="button" class="btn bg-gradient-info w-40 mt-4 mb-0 mx-0">Save</button>
                            </div>
                        </form>
                    </div>

                    <!-- <ul class="list-group">
        <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Full Name:</strong> &nbsp; Alec M. Thompson</li>
        <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Mobile:</strong> &nbsp; (44) 123 1234 123</li>
        <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Email:</strong> &nbsp; alecthompson@mail.com</li>
        <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Location:</strong> &nbsp; USA</li>
        <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Password:</strong> &nbsp; *****</li>
    </ul>
        -->
                </div>
            </div>
        </div>
    </div>


    @code {

    }
