@inherits LayoutComponentBase


<NavMenu />

<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">

    <NavBar />

    <div class="container-fluid py-4">
        <AuthorizeView>
            <NotAuthorized>You're not authorized</NotAuthorized>
            <Authorized><p>Uhhooo you are authorized!</p></Authorized>
        </AuthorizeView>
        @Body
        <Footer/>
    </div>
</main>
