@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<Nav1 />

<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">

  

    <div class="container-fluid py-4">
        
        @Body
        <LoginFooter />
    </div>
</main>

@code
{
    
}
