@inherits LayoutComponentBase


<NavMenu />

<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">

    <NavBar />

    <div class="container-fluid py-4">
        @Body
        <Footer />
    </div>
</main>
