@inherits LayoutComponentBase

<main class="main-content  mt-0">
    <section class="min-vh-70 mb-7">
        <div class="page-header align-items-start min-vh-50 pt-3 pb-5 m-3 mt-2 border-radius-lg"
             style="background-image: url('/softUI/assets/img/curved-images/curved1.jpg');">
            <span class="mask bg-gradient-dark opacity-6"></span>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5 text-center mx-auto">
                        <h1 class="text-white mb-2 mt-3">Habit-Rabbit</h1>
                        <p class="text-lead text-white">Welcome!</p>
                    </div>
                </div>
            </div>
        </div>
        <RegisterForm />
    </section>
    <LoginFooter />
</main>

@code {

}

